@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  transition: 0.5s linear;
}

.btn-container{
  display: flex;
  justify-content: space-around;
  width: inherit;
}

.display{
  display: inline-block;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 3px;
  background: #000000cc;
  color: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #00000099;
}

button{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  background: #00000077;
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  border: none;
  padding: 1rem;
  cursor: pointer;
}

button:focus{
  outline: none;
}

button:active{
  transform: translate(3px, 3px);
}

button::selection{
  background: none;
}

span::selection{
  outline: none;
  background: black;
}

@media screen  and (max-width: 900px){
  .btn-container {
    flex-direction: column;
    width: 50%;
    height: 50%;
  }
}

@media screen and (max-width: 700px) {
  .display{
    font-size: 1.2rem;
    padding: .7rem
  }
  button {
    padding: 1rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .display{
    text-align: center;
    font-size: 1rem;
    padding: .5rem;
    width: 80%;
  }
  .btn-container {
    width: 70%;
    height: 70%;
  }
}